[Desktop Entry]
Version=1.0
Type=Application
Name=Rosarium
GenericName=Rosary Prayer App
Comment=Pray the Holy Rosary in Italian and Latin
# L'icona deve corrispondere all'ID usato nel file YML
Icon=io.github.beneretta80.rosarium
# IMPORTANTE: Deve essere 'rosarium', il comando creato nel file YML
Exec=rosarium
Terminal=false
Categories=Education;Spirituality;GNOME;GTK;
Keywords=rosary;prayer;catholic;rosario;preghiera;
StartupNotify=true
# Questo collega la finestra all'icona
StartupWMClass=rosarium
